<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <div id="banner">
    <%= image_tag("logo.png") %> 
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
  	<div id="side">
  		<ul>
  			<li>
  				<a href="http://www....">Home</a>
  			</li>
  			<li>
  				<a href="http://www....">Questions</a>
  			</li>
  			<li>
  				<a href="http://www....">News</a>
  			</li>
  			<li>
  				<a href="http://www....">Contrac</a>
  			</li>
  		</ul>
        <span style="color:#bfb"><%= Time.now.strftime("%Y-%m-%d %H-%M-%S") %></span>	
  	</div>
    <div id="main">
        <%= yield %>
    </div>
  </div>
</body>
</html>
